@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #eee;
}

h1 {
  @apply text-5xl font-extrabold text-blue-600
}

select {
  @apply h-10;
}

.list-table {
  @apply w-full bg-white shadow-md rounded-lg overflow-hidden;
}

thead .list-tr {
  @apply flex flex-col mb-4 sm:table-row border-b bg-indigo-50;
}

tbody .list-tr {
  @apply flex flex-col mb-4 sm:table-row border-b last:border-b-0 hover:bg-gray-50;
}

.list-td {
  @apply p-3;
}

.list-th {
  @apply px-3 py-3 border-b sm:py-5 sm:border-b-0;
}

.th-sort-asc:after,
.th-sort-desc:after {
  @apply text-blue-600;
  line-height: 100%;
  padding-left: 0.5em;
}

.th-sort-asc:after {
  content: '▲';
}

.th-sort-desc:after {
  content: '▼';
}

nav.pagination {
  @apply flex items-center gap-x-4 flex-col sm:flex-row
}

nav.pagination > * {
  @apply mt-5;
}

nav.pagination button {
  @apply px-3 h-10 text-gray-500 bg-white border border-e-0 border-gray-300 hover:bg-gray-100 hover:text-gray-700;
}

nav.pagination button:disabled {
  @apply opacity-50 hover:bg-white hover:text-gray-500;
}

nav.pagination button:first-child {
  @apply rounded-s-lg;
}

nav.pagination button:last-child {
  @apply border-e rounded-e-lg;
}

nav.pagination select {
  @apply w-20;
}

nav.pagination span {
  @apply flex items-center font-bold;
}

/* See notes in TextFilter about matching up styles to the React TailwindCSS
 * Select component, in conjunction with the styles applied here. These are
 * clearly vulnerable to changes in document structure that might occur with
 * updates of that particular NPM package.
 */
.react-tailwindcss-select-container div[aria-expanded] > div:first-child {
  @apply text-base text-gray-400;
}
